.admissions{
  text-align: center;

  &__content{
    a{
      color: black;
    }
  }

  &__button{
    background: white;
    text-align: center;
    width: 240px;
    border-radius: 8px;
    cursor: pointer;
    color: black;
    display: inline-block;
    padding: 8px;
    margin: 16px;
  }
  &__image{
    object-fit: contain;
    margin: 32px auto;
    width: 100%;
  }

  @media (min-width: 768px) {
    background: {
      image: url("/assets/images/admissions_background.png");
      repeat: no-repeat;
      size: contain;
      position: center;
    };
    &__image{
      width: 70%;
    }
  }
}