.banner{
  height: 100vh;
  padding: 0;
  position: relative;
  max-width: 80%;
  margin: 0 auto;


  @keyframes rotating {
    0% {transform: translate(-50%, -50%) rotate(-15deg)}
    50% {transform: translate(-50%, -50%) rotate(15deg)}
    100% {transform: translate(-50%, -50%) rotate(-15deg)}
  }

  &__main{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -45%);
    //min-height: 80%;
    //height: auto;
    width: 65%;
  }
  &__hands{
    //display:none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    //animation-name: rotating;
    //animation-iteration-count: infinite;
    //animation-duration: 60s;
    width: 90%;
  }
  &__arrow{
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    cursor: pointer;
    z-index: 9;
  }
  &__font_changer{
    position: absolute;
    top: 130px;
    right: 15px;
    cursor: pointer;
    //z-index: 1001;
    background-color: $yellow;
    //@media (max-width: 767.98px) {
    //  bottom: 15px;
    //  top: auto;
    //  right: 15px;
    //}
    img{
      display: block;
    }
  }
}
