.competition-works {
  //&__content {
  //  display: flex;
  //  justify-content: center;
  //  align-items: flex-start;
  //  flex-direction: column;
  //  margin-top:64px;
  //  padding: 0 40px;
  //}
}

.competition-work {
  margin-top: 30px;
  position: relative;
  p{
    margin: 0;
  }

  @media (max-width: 767.98px) {
    margin-bottom: 80px;

    &:last-child{
      margin-bottom: 0;
    }
  }

  &__content {
  }
  &__title {
    font-weight: 700;
    font-size: 2.8em;
    line-height: 1em;
    margin: 0;
  }
  &__author {
    margin: 0;
    color: $white;
    font-weight: bold;
    font-size: 1.4em;
    margin-bottom: 30px;
    margin-top: 5px;
  }
  &__description{
    margin-top: 30px !important;
  }
  &__part{
    color: $black;
    border: 2px solid;
    margin-right: 5px;
    padding: 5px;
    border-radius: 5px;
    font-weight: 700;
    white-space: nowrap;
    display: inline-block;
    margin: 2px;
  }


}

