.description {
  background-color: $black;
  color: $white;
  padding: 32px 0;
  position: relative;

  &__content {
    font-size: 28px;
    line-height: 40px;
    flex: 1 1 auto;
    padding-right: 32px;
  }
  &__container{
    line-height: 42px;
  }

  &__image {
    flex: 0 0 auto;
    object-fit: contain;
    text-align: center;
    display: block;
    margin: 0 auto;
  }

  &__part-1 {
    font-size: 1.2em;
    line-height: 48px;
  }

  .section-title {
    margin-bottom: 160px;
  }

  @media (min-width: 768px) {
    &__image {
      flex-basis: 42%;
    }
    &__content {
      flex-basis: 58%;
    }
    &__row-1{
      flex-direction: row;
    }
    &__row-2 {
      background: {
        image: url("/assets/images/background_description_row_2.png");
        repeat: no-repeat;
        position: left center;
        size: contain;
      }
    }
  }
}
