footer {
  background-color: $black;
  color: $white;
  padding: 32px 0;

  h2 {
    font-size: 16px;
    margin: 16px 0;
  }

  h1{
    font-size: 28px;
    font-weight: 700;
    margin-top: 40px;
  }

  .contact{
    @media (max-width: 767.98px) {
      text-align: center;
    }
  }

  .patreons {
    .row:last-of-type {
      margin-top: 16px
    }
    @media (max-width: 767.98px) {
      text-align: center;
    }

    &__medial{
      div{
        text-align: center;
      }
      img{
        max-height: 50px;
        margin: 0 auto;
        display: block;
      }

      @media (max-width: 767.98px) {
        .col-6{
          margin-top: 15px;
        }
      }
    }
  }
  .last-img{
    margin: 32px 0;
  }
}
