.laureate-works{
  &__works{
    display: flex;
    flex-wrap: wrap;
  }
}


.laureate-work {
  flex-grow: 1;
  width: 33.33%;
  padding: 10px;
  @media (min-width: 768px) {
    &:nth-child(3n+1){
      padding-left: 0;
      padding-right: 20px;
    }
    &:nth-child(3n){
      padding-right: 0;
      padding-left: 20px;
    }
  }

  @media (max-width: 767.98px) {
    width: 50%;
  }
  @media (max-width: 400px) {
    width: 100%;
  }



  @media (min-width: 768px) {
    &:nth-child(3n+2){
      .laureate-work__content {
        margin: 0 auto;
        margin-top: 100px;
        @media (max-width: 767.98px) {
          margin-top: 0;
        }
      }
    }
    &:nth-child(3n){
      .laureate-work__content {
        margin-left: auto;
      }
    }
  }

  &__content {
    border-top: 4px solid $white;
    max-width: 250px;
    padding-top: 15px;

    @media (max-width: 767.98px) {
      margin: 0 auto;
    }

  }

  &__title {
    font-weight: 700;
    font-size: 1.3em;
  }
  &__author {
    color: $white;
    font-size: 1.1em;
    margin: 0;
  }
  &__links {
    padding-top: 15px;
  }
  &__link {
    color: $black;
    border: 2px solid;
    padding: 2px 5px;
    border-radius: 5px;
    font-weight: 700;
    font-size: 0.9em;
    white-space: nowrap;
    display: inline-block;
    margin: 2px;
  }


}

