.navbar {
  $this: &;
  width: 100%;
  position: fixed;
  z-index: 1000;
  transition: .25s;
  background: transparent;

  @media(max-width: 767.98px) {
    .container{
      max-width: 100%;
    }
  }


  .navbar-collapse {
    margin-top: 16px;
  }

  .navbar-nav {
    flex-grow: 1;
    justify-content: center;
  }

  &.-small {
    #{$this}__logo {
      max-height: 70px;
    }
    background: $yellow;
  }

  &.-bg-yellow{
    background: $yellow;
  }

  &.-bg-yellow{
    background: $yellow;
  }

  .container{
    align-items: flex-start;
  }
  .navbar-brand{
    width: 175px;
  }

  .nav-item{
    button{
      &:focus{
        outline: 0;
      }
    }

  }
  .navbar-collapse{
    //margin-top: 0;
    @media(max-width: 767.98px) {
      height: 100vh;
    }
    .navbar-nav{
      justify-content: flex-end;

      @media(max-width: 767.98px) {
        padding-top: 20px;
        .nav-item{
          background-color: $black;
          padding: 20px;
          border-bottom: 2px solid $yellow;

          .navbar__btn{
            color: $yellow;
          }
        }
      }
      @media(min-width: 768px) {
        padding-right: 20px;
      }

    }
  }
  .navbar-toggler{
    border: 0;
    outline: 0;
    position: absolute;
    top: 60px;
    right: 20px;
    .navbar-toggler-icon{
      background: {
        image: url("/assets/icons/menu-toggler.png");
      }
      height: 20px;
    }
  }

  &__logo {
    object-fit: contain;
    max-width: 270px;
    max-height: 70px;
    flex: 0 0 auto;
    transition: .5s;
  }

  @media(max-width: 767.98px){
    &__theatre-logo{
      position: absolute;
      top: 0;
      right: 0;
    }
  }


  &__theatre-logo_img {
    object-fit: contain;
    max-width: 140px;
    max-height: 40px;
    flex: 0 0 auto;
  }

  &__buttons {
    flex: 1 1 auto;
    display: flex;
    justify-content: space-evenly;
  }

  &__btn {
    background: none;
    border: none;
    font-weight: 700;
    cursor: pointer;

    &:hover {
      text-decoration: underline;
    }
  }

  @media(max-width: 767.98px){
    padding: 0;
    min-height: 100px;
  }

  @media(min-width: 768px) {
    &.-small {
      #{$this}__logo {
        max-height: 50px;
      }
    }
    &__logo {
      max-height: 120px;
    }
  }
}
