.schedule {
  &__content {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    margin-top:64px;
    padding: 0 40px;
  }

  &__content-column {
    flex: 0 1 auto;
    max-width: 200px;

  }

  &__content-image {
    flex: 0 1 25%;
    display: none;
  }

  &__column-header {
    color: white;
    font-weight: 700;
    font-size: 48px;
    white-space: nowrap;
    margin-bottom: 32px;
    text-align: center;
  }

  @media (min-width: 768px) {
    background: {
      image: url("/assets/images/schedule_background.png");
      repeat: no-repeat;
      size: contain;
      position: center;
    };
    &__content {
      flex-direction: row;
    }
    &__content-image {
      display: block;
    }
    &__content-column {
      flex: 0 1 20%;
    }

  }
}

.schedule-term {
  white-space: pre-line;
  margin:0 auto 16px;

  &__date {
    color: white;
    font-weight: 700;
    margin: 0;
  }

  &__description {
    margin: 0 0 0 25%;
    hyphens: none;

  }
}
