.separator {
  width: 100%;
  object-fit: contain;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  transform: translateY(-50%);
  display: none;

  @media (min-width: 768px) {
    display: block;
  }
}