@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@300;400;700&display=swap');

@import "colors";
@import 'vendor/normalize';

@import 'base/breakpoints';

//@import 'components/*'

@import "components/navbar";
@import "components/admissions";
@import "components/description";
@import "components/footer";
@import "components/schedule";
@import "components/banner";
@import "components/separator";
@import "components/competitionWorks";
@import "components/laureateWorks";
* {
  scroll-behavior: smooth;
}

body {
  font-family: 'Overpass', sans-serif;
  font-weight: 400;
  font-size: 16px;
  margin: 0;
  padding: 0;
  background: $yellow;
  color: $black;

  &.font-bigger{
    font-size: 25px;
  }
}
p{
  hyphens: auto;
}

a:hover{
  color: $white;
  text-decoration: none;
}

.section-title{
  text-align: center;
  margin: 50px 0;
  position: relative;
  font-weight: 700;
  font-size: 1.4em;

  &:after{
    content: '';
    background:{
      image: url("/assets/images/headers_hands.png");
      size: contain;
      repeat: no-repeat;
      position: center;
    }
    width: 100px;
    height: 200px;
    position: absolute;
    left: 50%;
    top: 0;
    transform: translate(-50%, -43%);
  }
}
.font-yellow{
  color: $yellow !important;
}
.font-bold{
  font-weight: 700;
}
section{
  padding: 32px 0;
}
